{
  "extends": [
    "@remix-run/eslint-config",
    "@remix-run/eslint-config/node",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "prettier/prettier": ["error", {}, {
      "usePrettierrc": true
    }],
    "import/order": [
      "error",
      {
        "groups": ["builtin", "external", "type", "parent", "sibling", "index"],
        "newlines-between": "always-and-inside-groups",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": false
        },
        "warnOnUnassignedImports": true
      }
    ]
  }
}
